@import "tailwindcss";

@font-face {
	font-family: "Roboto";
	src: url("/src/assets/fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/src/assets/fonts/Roboto-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-white: #ffffff;
	--color-grey: #949494;
	--color-blue-700: #36384d;
	--color-blue-800: #242742;
	--color-red: #ff6155;
	--color-orange: #ff6a3a;
	--color-pink: #ff527b;
}

@layer components {
	.text-preset-1 {
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		line-height: 100%;
		letter-spacing: 0;
		@apply text-[40px] md:text-[56px];
	}
	.text-preset-2 {
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0;
	}
	.text-preset-2-regular {
		font-family: "Roboto", sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0;
	}
	.text-preset-3 {
		font-family: "Roboto", sans-serif;
		font-weight: 700;
		font-size: 12px;
		line-height: 150%;
		letter-spacing: 0;
	}
	.bg-gradient {
		@apply from-orange to-pink bg-linear-to-r;
	}
}
